@model mvc_library.Models.Library

<h1>@Model.Name</h1>
<p>@Model.Address</p>

<a asp-controller="Library" asp-action="AddBook">Add Book</a>

@{
  var index = 0;
}

<ul>
  @foreach(var book in Model.Books){
    <li><a asp-controller="Library" asp-action="ViewBook" asp-route-id="@index">@book.Title - @book.Author</a></li>
    index++;
  }
</ul>
